@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import play.filters.csrf.CSRF.Token

@(token: Token, personJson: String, title: String, jsLibraryBundleUrl: String, jsAppBundleUrl: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Analytics -->
        <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-118773848-1', 'auto');  // Replace with your property ID.
                ga('send', 'pageview');

        </script>
            <!-- End Google Analytics -->

        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16" />


        @* Prevent the browser from re-scaling on mobile, since site is already optimized for mobile. *@
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover"/>

        @* Load the bundled NPM dependencies first. *@
        <script src="@jsLibraryBundleUrl"></script>
        @* Export the all the libraries from jsLibraryBundle so it's accessible to the app script *@
        <script language="JavaScript">
                var exports = window;
                exports.require = window["ScalaJSBundlerLibrary"].require;
        </script>

    </head>
    <body>
        <div
            id="csrf-token-holder"
            x-csrf-name="@token.name"
            x-csrf-value="@token.value"></div>

        <div id="logged-in-holder" style="display:none">@personJson</div>

        @* Root for the Rect rendered app *@
        <section id="reactroot"></section>


        @* Load the app. *@
        <script src="@jsAppBundleUrl"></script>
        <script language="JavaScript">
            WebMain.main();
        </script>
    </body>
</html>
