@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import play.filters.csrf.CSRF.Token

@(token: Token, title: String, jsLibraryBundleUrl: String, jsAppBundleUrl: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../../../public/stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("../../../../../public/images/favicon.png")">


        @* Prevent the browser from re-scaling on mobile, since site is already optimized for mobile. *@
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    </head>
    <body>
        <div
            id="csrf-token-holder"
            x-csrf-name="@token.name"
            x-csrf-value="@token.value"></div>

        @* Root for the Rect rendered app *@
        <section class="doteapp"></section>


        @* Load the bundled NPM dependencies first. *@
        <script src="@jsLibraryBundleUrl"></script>
        @* Export the all the libraries from jsLibraryBundle so it's accessible to the app script *@
        <script language="JavaScript">
                var exports = window;
                exports.require = window["ScalaJSBundlerLibrary"].require;
        </script>
        @* Load the app. *@
        <script src="@jsAppBundleUrl"></script>

        @* Magic to include the compile JS from the web project as a script tag.

        @scalajs.html.scripts(
            "web",
            routes.Assets.versioned(_).toString,
            name => getClass.getResource(s"/public/$name") != null)

        *@
    </body>
</html>
